<!-- templates/post.html -->
{% extends 'base.html' %}
{% block content %}
  <h1>Форма загрузки файла</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
  </form>
{% endblock %}
